body {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.input {
  border: 2px solid #a6c1d3;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.btn {
  width: 30%;
  margin-top: 15px;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input:focus,
.btn:focus {
  outline: 0;
  border-color: #3498db;
}

.btn:active {
  transform: scale(0.98);
}
